@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 500;
}

body, #root {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Hanken Grotesk', sans-serif;
}

.twinkling {
  animation: move-twink-back 500s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.active {
  background-color: #18171c88;
  border: 1px solid #333236;
}

.global {
  background-image: url(./src/assets/stars.jpg);
  overflow: auto;
}

/* Estilizando a seleção de texto */
::selection {
  background-color: #cdb7f6;
  color: #333236;
}

.styled-container {
  width: 100vw;
  height: 100vh;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #000000 #424242;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: #424242;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 2px;
    border: 2px solid #000000;
  }

.card-xp:not(:last-of-type) {
  border-bottom: 1px solid rgb(39, 39, 42);
}

.cv-button:hover img:nth-of-type(1) {
  filter: invert(100%);
  mix-blend-mode: difference;
}

.cv-button:hover img:nth-of-type(2) {
  filter: brightness(100%);
  display: none;
}

.cv-button:hover img:nth-of-type(3) {
  display: block;
}

.cv-button:hover #email-icon {
  filter: invert(0);
}

#email-button {
  background-color: #18171c;
}

.see-all:hover img:nth-of-type(1) {
  display: none;
} 

.see-all:hover img:nth-of-type(2) {
  display: block;
}

.card-project-button:hover img {
  filter: invert(0);
}

.card-project:hover .buttons-proj {
  display: flex;
  transform-origin: top;
  transition: all 10s ease;
}

.card-project:hover #bg-project {
  filter: blur(3px) brightness(70%);
}